.login{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
.fieldsetlogin {
    font-family: "Old English Text MT", sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 10px blue;
    border: 3px solid rgb(16, 11, 125);
    background: linear-gradient(45deg, rgb(36, 155, 70), rgb(51, 120, 211));
}
.legendlogin {
    padding-left: 7px;
    padding-right: 10px;
    border-radius: inherit;
    box-shadow: 0 0 10px blue;
    border: 3px solid rgb(16, 11, 125);
    background: linear-gradient(45deg, rgb(17, 183, 17), rgb(132, 255, 9));

}